@import "tailwindcss";

:root {
  --eerie: #333333ff;
  --cobalt: #545c6bff;
  --alice: #edf5fcff;
  --bone: #e0ffff88;  
  --taupe: #847474ff;

  --text: var(--eerie);
  --background: var(--alice);
  --primary: var(--cobalt);
  --secondary: var(--bone);
  --accent: var(--taupe);
}

html[data-theme="dark"] {
  --text: var(--alice);
  --background: var(--eerie);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Fira Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--background);
  color: var(--text);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 100dvw;
  width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  position: relative;
}

body.dark {
  background-color: var(--background);
  color: var(--text);
}

.root {
  height: 100dvh;
  width: 100%;
  overflow-y: hidden;
}


