.audio-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  background-color: hsla(187, 27%, 68%, 0.8);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  flex: 1;
  will-change: backdrop-filter, opacity;
}

.playlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
  position: relative;
  margin: 2rem 0 0 0;
}

.now-playing {
  flex: 1;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.playback {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.label {
  opacity: 0;
}

.control:hover .label {
  opacity: 1;
}

.volume-container {
  width: 100%;
  padding: 0 4rem;
}
