.audio-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 300px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  flex: 1;
  color: var(--foreground);
  background-color: var(--secondary);
  backdrop-filter: blur(2.5px);
  will-change: backdrop-filter, opacity;
  z-index: 60;
}

@media screen and (min-width: 500px) {

  .audio-player {
    max-width: 480px;
    padding: 3rem;
  }

}

.playlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 2;
  position: relative;
  margin: 2rem 0 0 0;
}

.now-playing {
  flex: 1;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

.playback {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
}

.label {
  opacity: 0;
}

.control:hover .label {
  opacity: 1;

}

.volume-container {
  width: 100%;
  padding: 0 4rem;
}
