form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-input {
  border: var(--background) 1px solid;
  border-radius: 4px;
  margin-bottom: 1rem;
  padding: 0.4rem 0.9rem;
}

.submit {
  margin-top: 2rem;
  padding: 0.4rem 1rem;
  border: solid 1px var(--background);
  background-color: var(--primary);
  color: var(--background);
  border-radius: 8px;
  -webkit-box-shadow: 2px 3px 13px -10px rgba(66, 68, 74, 1);
  -moz-box-shadow: 2px 3px 13px -10px rgba(66, 68, 74, 1);
  box-shadow: 2px 3px 13px -10px rgba(66, 68, 74, 1);
  cursor: pointer;
}
