.theme-button {
  position: relative;
  width: 6rem;
  height: 2.5rem;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.05rem 0.75rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  overflow: visible;
  color: var(--text);
  background-color: var(--background);
  border: solid 1px var(--background);
}

.theme-button .lucide {
  transition: opacity 0.3s ease;
}

.theme-button .lucide:first-child {
  opacity: 1;
}

.theme-button .lucide:last-child {
  opacity: 1;
}

.theme-button .thumb {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  height: 2rem;
  width: 2rem;
  border-radius: 9999px;
  color: var(--background);
  background-color: var(--text);
  box-shadow: 0 2px 6px var(--background);
  z-index: 5;
}

.thumb {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.thumb.transparent {
  background-color: transparent;
  border: 2px solid var(--text);
}

.thumb.filled {
  background-color: var(--text);
  border: 2px solid var(--text);
}
